<div class="wrapper">
  
  <div id="inner">
   
    <div class="small">
        <h4>Protect The Mech</h4>
        <h5>IOS 2D Space Survival Shooter</h5>
        <img class="pro_pic" src="assets/images/protect.png">
        <img class="sbpic" src="assets/images/protect1.png">
        <img class="sbpic" src="assets/images/protect2.png">
        <img class="sbpic" src="assets/images/protect3.png">
        <h5>(Built in Unity/ C#, artwork/design, programming by Bailey Anderson)</h5>
        <div class="links">
          <a href="https://github.com/Baileyleeanderson/ProtectTheMech"><img class="github" src="assets/images/github.png"></a>
          <iframe width="200" height="145" src="https://www.youtube.com/embed/RLzXEbW1jkI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          <a href="https://baileyleeanderson.itch.io/protectthemech"><img class="lives" src="assets/images/droid.png"></a>
          <a href="https://github.com/Baileyleeanderson/ProtectTheMech"><button type="button" class="btn btn-primary">View Code</button></a>
          <a href="https://www.youtube.com/embed/RLzXEbW1jkI"><button type="button" class="btn btn-info">Watch Trailer</button></a>
          <a href="https://baileyleeanderson.itch.io/protectthemech"><button type="button" class="btn btn-danger">PC Beta</button></a>
        </div>
      </div>
  
      <div class="separate"></div> 

    <div class="small">
      <h4>Stitch-Boy</h4>
      <h5>2D side-scrolling shooter</h5>
      <img class="pro_pic" src="assets/images/stichboy.png">
      <img class="sbpic" src="assets/images/sb1.png">
      <img class="sbpic" src="assets/images/sb2.png">
      <img class="sbpic" src="assets/images/sb3.png">
      <h5>(Built in Unity/ C#, original artwork, programming and music by Bailey Anderson)</h5>
      <div class="links">
        <a href="https://github.com/Baileyleeanderson/StitchBoy"><img class="github" src="assets/images/github.png"></a>
        <iframe width="200" height="145" src="https://www.youtube.com/embed/tFR24fvHmGw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <a href="https://baileyleeanderson.itch.io/stitch-boy
        "><img class="lives" src="assets/images/lives.png"></a>
        <a href="https://github.com/Baileyleeanderson/StitchBoy"><button type="button" class="btn btn-primary">View Code</button></a>
        <a href="https://www.youtube.com/embed/tFR24fvHmGw"><button type="button" class="btn btn-info">Watch Trailer</button></a>
        <a href="https://baileyleeanderson.itch.io/stitch-boy
        "><button type="button" class="btn btn-danger">PC Beta</button></a>
      </div>
    </div>

    <div class="separate"></div>

    <div class="small">
      <h4>MRA WebGames</h4>
      <h5>Three computer web games</h5>
      <img class="pro_pic" src="assets/images/mrahome.png">
      <img class="sbpic" src="assets/images/mra1.png">
      <img class="sbpic" src="assets/images/mra2.png">
      <img class="sbpic" src="assets/images/mra3.png">
      <h5>(Built in MEAN, original artwork, programming by Bailey Anderson)</h5>
      <div class="links">
        <a href="https://github.com/Baileyleeanderson/MRA-Games"><img class="github" src="assets/images/github.png"></a>
        <iframe width="200" height="145" src="https://www.youtube.com/embed/LG8vO9AgnVg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <a href="http://18.218.76.184/"><img class="lives" src="assets/images/mra1.png"></a>
          <a href="https://github.com/Baileyleeanderson/MRA-Games"><button type="button" class="btn btn-primary">View Code</button></a>
          <a href="https://www.youtube.com/embed/LG8vO9AgnVg"><button type="button" class="btn btn-info">Watch Trailer</button></a>
          <a href="http://18.218.76.184/"><button type="button" class="btn btn-danger">Website</button></a>
      </div>
    </div>

    <div class="separate"></div>

      <div class="small">
        <h4>Tower Clash</h4>
        <h5>2D Tower Defense Game</h5>
        <img class="pro_pic" src="assets/images/tower.png">
        <img class="sbpic" src="assets/images/tower1.png">
        <img class="sbpic" src="assets/images/tower2.png">
        <img class="sbpic" src="assets/images/tower3.png">
        <h5>(Built in Unity/ C#, programming, design by Bailey Anderson)</h5>
        <div class="links">
          <a href="https://github.com/Baileyleeanderson/TowerClash"><img class="github" src="assets/images/github.png"></a>
          <iframe width="200" height="145" src="https://www.youtube.com/embed/dPKfezep9RE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          <a href="http://gamedevjon.com/gamehost/games/GalaxyShooter-1530829022-1399708413/GalaxyShooter/
          "><img class="lives" src="assets/images/skeleton.png"></a>
            <a href="https://github.com/Baileyleeanderson/TowerClash"><button type="button" class="btn btn-primary">View Code</button></a>
            <a href="https://www.youtube.com/embed/dPKfezep9RE"><button type="button" class="btn btn-info">Watch Trailer</button></a>
            <a href="http://gamedevjon.com/gamehost/games/TowerClash-1531776277-552512174/TowerClash/
            "><button type="button" class="btn btn-danger">PC Version</button></a>
        </div>
      </div>

      <div class="small">
        <h4>Dungeon Escape</h4>
        <h5>2D Dungeon Survival Mobile Game</h5>
        <img class="pro_pic" src="assets/images/dmain.png">
        <img class="sbpic" src="assets/images/d1.png">
        <img class="sbpic" src="assets/images/d2.png">
        <img class="sbpic" src="assets/images/d3.png">
        <h5>(Built in Unity/ C#, programming by Bailey Anderson)</h5>
        <div class="links">
          <a href="https://github.com/Baileyleeanderson/Dungeon-Escape"><img class="github" src="assets/images/github.png"></a>
          <iframe width="200" height="145" src="https://www.youtube.com/embed/FcQvhBa6Auw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          <a href="http://gamedevjon.com/gamehost/games/Dungeon-1531362089-1383006667/Dungeon/
          "><img class="lives" src="assets/images/dmain.png"></a>
            <a href="https://github.com/Baileyleeanderson/Dungeon-Escape"><button type="button" class="btn btn-primary">View Code</button></a>
            <a href="https://www.youtube.com/embed/FcQvhBa6Auw"><button type="button" class="btn btn-info">Watch Trailer</button></a>
            <a href="http://gamedevjon.com/gamehost/games/Dungeon-1531362089-1383006667/Dungeon/
            "><button type="button" class="btn btn-danger">PC Version</button></a>
        </div>
      </div>
      <div class="separate"></div>
  
    <div class="separate"></div>  

      <div class="small">
        <h4>Galaxy Shooter</h4>
        <h5>2D Space Shooter</h5>
        <img class="pro_pic" src="assets/images/gax.png">
        <img class="sbpic" src="assets/images/gax1.png">
        <img class="sbpic" src="assets/images/gax2.png">
        <img class="sbpic" src="assets/images/gax3.png">
        <h5>(Built in Unity/ C#, programming by Bailey Anderson)</h5>
        <div class="links">
          <a href="https://github.com/Baileyleeanderson/GaleaxyBlaster"><img class="github" src="assets/images/github.png"></a>
          <iframe width="200" height="145" src="https://www.youtube.com/embed/3AumBclbVV4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          <a href="http://gamedevjon.com/gamehost/games/GalaxyShooter-1530829022-1399708413/GalaxyShooter/
          "><img class="lives" src="assets/images/buigdawg.png"></a>
            <a href="https://github.com/Baileyleeanderson/GaleaxyBlaster"><button type="button" class="btn btn-primary">View Code</button></a>
            <a href="https://www.youtube.com/embed/3AumBclbVV4"><button type="button" class="btn btn-info">Watch Trailer</button></a>
            <a href="http://gamedevjon.com/gamehost/games/GalaxyShooter-1530829022-1399708413/GalaxyShooter/
            "><button type="button" class="btn btn-danger">PC Version</button></a>
        </div>
      </div>
    <div class="separate"></div>

    <div class="small">
      <h4>Zombie Rush</h4>
      <h5>2D/3D Zombie Game for Ipad</h5>
      <img class="pro_pic" src="assets/images/flap.png">
      <img class="sbpic" src="assets/images/flap1.png">
      <img class="sbpic" src="assets/images/flap2.png">
      <img class="sbpic" src="assets/images/flap3.png">
      <h5>(Built in Unity/ C#, programming and level design by Bailey Anderson)</h5>
      <div class="links">
        <a href="https://github.com/Baileyleeanderson/ZombieRush"><img class="github" src="assets/images/github.png"></a>
        <iframe width="200" height="145" src="https://www.youtube.com/embed/q-M3tX-s1sc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <a href="http://gamedevjon.com/gamehost/games/ZombieRush-1531593651-37994274/ZombieRush/
        "><img class="lives" src="assets/images/zombhead.png"></a>
          <a href="https://github.com/Baileyleeanderson/ZombieRush"><button type="button" class="btn btn-primary">View Code</button></a>
          <a href="https://www.youtube.com/embed/q-M3tX-s1sc"><button type="button" class="btn btn-info">Watch Trailer</button></a>
          <a href="http://gamedevjon.com/gamehost/games/ZombieRush-1531593651-37994274/ZombieRush/
          "><button type="button" class="btn btn-danger">PC Version</button></a>
      </div>
    </div>

    <div class="separate"></div>  

      <div class="small">
        <h4>Rolling Trolling</h4>
        <h5>2D/3D Physics Game</h5>
        <img class="pro_pic" src="assets/images/troll.png">
        <img class="sbpic" src="assets/images/troll1.png">
        <img class="sbpic" src="assets/images/troll2.png">
        <img class="sbpic" src="assets/images/troll3.png">
        <h5>(Built in Unity/ C#, programming by Bailey Anderson)</h5>
        <div class="links">
          <a href="https://github.com/Baileyleeanderson/TrollingZombiez"><img class="github" src="assets/images/github.png"></a>
          <iframe width="200" height="145" src="https://www.youtube.com/embed/D3hBb7HW70c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          <a href="http://gamedevjon.com/gamehost/games/RollingTrollingZombie-1531441725-187518081/RollingTrollingZombie/
          "><img class="lives" src="assets/images/playtroll.png"></a>
            <a href="https://github.com/Baileyleeanderson/TrollingZombiez"><button type="button" class="btn btn-primary">View Code</button></a>
            <a href="https://www.youtube.com/embed/D3hBb7HW70c"><button type="button" class="btn btn-info">Watch Trailer</button></a>
            <a href="http://gamedevjon.com/gamehost/games/RollingTrollingZombie-1531441725-187518081/RollingTrollingZombie/
            "><button type="button" class="btn btn-danger">PC Version</button></a>
        </div>
      </div>
    
      <div class="separate"></div>

      <div class="small">
          <h4>Smart-Sub</h4>
          <h5>Social media for users to share, upload, and subscribe to tutorials</h5>
          <img class="pro_pic" src="assets/images/smartsub.png">
          <img class="sbpic" src="assets/images/smrt1.png">
          <img class="sbpic" src="assets/images/smrt2.png">
          <img class="sbpic" src="assets/images/smrt3.png">
          <h5>(Built in MEAN, programming and design by Bailey Anderson)</h5>
          <div class="links">
            <a href="https://github.com/Baileyleeanderson/SmartSub"><img class="github" src="assets/images/github.png"></a>
            <iframe width="200" height="145" src="https://www.youtube.com/embed/IXYe09Yhwcg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <img class="lives" src="assets/images/smartsub.png">
            <a href="https://github.com/Baileyleeanderson/SmartSub"><button type="button" class="btn btn-primary">View Code</button></a>
            <a href="https://www.youtube.com/embed/IXYe09Yhwcg"><button type="button" class="btn btn-info">Watch Trailer</button></a>
            <button type="button" class="btn btn-danger">Website</button>
          </div>
        </div>
  
        <div class="separate"></div>

      <div class="small">
        <h4>My Portfolio</h4>
        <h5>Portfolio of my most recent projects</h5>
        <img class="pro_pic" src="assets/images/me.png">
        <img class="sbpic" src="assets/images/me1.png">
        <img class="sbpic" src="assets/images/me2.png">
        <img class="sbpic" src="assets/images/me3.png">
        <h5>(Built in MEAN, programming and artwork by Bailey Anderson)</h5>
        <div class="links">
          <a href="https://github.com/Baileyleeanderson/Portfolio_BLA"><img class="github" src="assets/images/github.png"></a>
          <img class="hide" width="200" height="145" src="assets/images/me.png">
          <img class="lives" src="assets/images/chairscifi.gif">
          <a href="https://github.com/Baileyleeanderson/Portfolio_BLA"><button type="button" class="btn btn-primary">View Code</button></a>
          <a href=""><button type="button" class="btn btn-info">You're Here</button></a>
          <button type="button" class="btn btn-danger">Yup Still Here</button>
        </div>
      </div>

  </div>
</div>