<div id="wrapper">
    <div id="inner">
        <img class="neo" src="assets/images/comptext.gif">
    </div>
        <div id="contact">
            <a href="https://www.linkedin.com/in/bailey-anderson-2a2363157/"><img class="skills" src="assets/images/linked.png"></a>
            <a href="https://github.com/Baileyleeanderson"><img class="skills" src="assets/images/github.png"></a>
            <a href="https://www.facebook.com/bailey.anderson.52"><img class="skills" src="assets/images/facebook.png"></a>
        </div>
        <div id="phone">
            <img class="bio" src="assets/images/homebio.png">
            <img id="info" src="assets/images/contacti.png">
        </div>
</div>
